<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


</head>

<body class="preload" ng-app="myApp" ng-controller="myController">
  <header class="header">
    <h1>Angular Timer</h1>
    <h3>{{ myNum }}</h3>

  </header>

  <div class="timer-container">
    <div class="options">
      <div class="options__pomodoro">
        <h2 class="pomodoro">Pomodoro</h2>
        <h4>
          <i id="p-add" class="fa fa-plus-square pomodoro" ng-click="pomo_add()"></i>
          <input id="options__pomodoro-length" class="pomodoro" type="text" ng-model="input_pomo_min">
          <i id="p-minus" class="fa fa-minus-square pomodoro" ng-click="pomo_minus()"></i>
        </h4>
      </div>
      <div class="options__break">
        <h2 class="break">Break</h2>
        <h4>
          <i id="b-add" class="fa fa-plus-square break" ng-click="break_add()"></i>
          <input id="options__break-length" class="break" type="text" ng-model="input_break_min">
          <i id="b-minus" class="fa fa-minus-square break" ng-click="break_minus()"></i>
        </h4>
      </div>
    </div>


    <div class="circle-container">
      <svg height="300" width="300">
        <rect id="rect1" class="rect1" x="25" y="25" width="250" height="250" fill="#5fbf88" fill-opacity="0.5" />
        <circle id="circle1" class="circle circle1 break" cx="150" cy="150" r="79.5774715" stroke="#5fbf88" stroke-width="20" fill="none" />
        <span id="timer1" class="timer-js"> {{ displayable_time }} </span>
      </svg>
    </div>

    <div id="controls" class="controls">
      <button class="start" ng-click="start()">Start</button>
      <button class="stop" ng-click="stop()">Stop</button>
      <button class="reset" ng-click="reset()">Reset</button>
    </div>

    <div class="console">
      <div>pomo_input_min: {{ input_pomo_min }}</div>
      <div>break_input: {{ input_break_min }} </div>
      <br>
      <div>initial_ms_pomo: {{ initial_ms_pomo }} </div>
      <div>initial_ms_break: {{ initial_ms_break }} </div>
      <br>
      <div>initial_ms: {{ initial_ms }} </div>
      <div>current_ms: {{ current_ms }} </div>
      <div>remaining_ms: {{ remaining_ms }} </div>
      <br>
      <div>displayable_time: {{ displayable_time }}</div>
    </div>

  </div>







  <script src="js/lib/jquery-1.11.3.min.js"></script>
  <script src="js/lib/knockout-3.2.0.min.js"></script>

  <script src="js/timer-2.js"></script>


</body>



</html>